@import "elements.less";

.font-Open { font-family: 'Open Sans Condensed', sans-serif; }
.font-Roboto{font-family: 'Roboto', sans-serif;}
body{.font-Roboto; font-weight: 400; color: #000}
.col-centrar { float: none; margin: 0 auto }

.cabezote { margin-top: 10px; padding-bottom: 10px; border-bottom: 4px solid #000; }

.amarillo { padding-bottom: 30px; background-color: #fff952; background-image: url("../images/fondo.svg"); .logo { margin-top: 30px; h2 { font-size: 24px; color: #000; text-align: center; .font-Open; font-weight: 300; } h3{ font-size: 14px; span {border-top: 1px solid #3c3c3c; padding-top: 5px} } } border-bottom: 18px solid #ffff99}

.Objetivo{
  h2{.font-Open; font-size: 24px; font-weight: 700; padding-bottom: 5px; color: #000; border-bottom: 1px solid #000}
}





